docs/soap-wsdl/ShowJumpingCriteria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://emiratesequestrian.info/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://emiratesequestrian.info/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://emiratesequestrian.info/">
      <s:element name="IsRiderEligible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RiderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HorseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRiderEligibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsRiderEligibleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsHorseEligible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HorseID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsHorseEligibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsHorseEligibleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsHorseEligibleChecking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HorseID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsHorseEligibleCheckingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsHorseEligibleCheckingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRiderEligibleChecking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RiderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HorseID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRiderEligibleCheckingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsRiderEligibleCheckingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsRiderEligibleSoapIn">
    <wsdl:part name="parameters" element="tns:IsRiderEligible" />
  </wsdl:message>
  <wsdl:message name="IsRiderEligibleSoapOut">
    <wsdl:part name="parameters" element="tns:IsRiderEligibleResponse" />
  </wsdl:message>
  <wsdl:message name="IsHorseEligibleSoapIn">
    <wsdl:part name="parameters" element="tns:IsHorseEligible" />
  </wsdl:message>
  <wsdl:message name="IsHorseEligibleSoapOut">
    <wsdl:part name="parameters" element="tns:IsHorseEligibleResponse" />
  </wsdl:message>
  <wsdl:message name="IsHorseEligibleCheckingSoapIn">
    <wsdl:part name="parameters" element="tns:IsHorseEligibleChecking" />
  </wsdl:message>
  <wsdl:message name="IsHorseEligibleCheckingSoapOut">
    <wsdl:part name="parameters" element="tns:IsHorseEligibleCheckingResponse" />
  </wsdl:message>
  <wsdl:message name="IsRiderEligibleCheckingSoapIn">
    <wsdl:part name="parameters" element="tns:IsRiderEligibleChecking" />
  </wsdl:message>
  <wsdl:message name="IsRiderEligibleCheckingSoapOut">
    <wsdl:part name="parameters" element="tns:IsRiderEligibleCheckingResponse" />
  </wsdl:message>
  <wsdl:portType name="ShowJumpingCriteriaSoap">
    <wsdl:operation name="IsRiderEligible">
      <wsdl:input message="tns:IsRiderEligibleSoapIn" />
      <wsdl:output message="tns:IsRiderEligibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligible">
      <wsdl:input message="tns:IsHorseEligibleSoapIn" />
      <wsdl:output message="tns:IsHorseEligibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligibleChecking">
      <wsdl:input message="tns:IsHorseEligibleCheckingSoapIn" />
      <wsdl:output message="tns:IsHorseEligibleCheckingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRiderEligibleChecking">
      <wsdl:input message="tns:IsRiderEligibleCheckingSoapIn" />
      <wsdl:output message="tns:IsRiderEligibleCheckingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShowJumpingCriteriaSoap" type="tns:ShowJumpingCriteriaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRiderEligible">
      <soap:operation soapAction="http://emiratesequestrian.info/IsRiderEligible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligible">
      <soap:operation soapAction="http://emiratesequestrian.info/IsHorseEligible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligibleChecking">
      <soap:operation soapAction="http://emiratesequestrian.info/IsHorseEligibleChecking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRiderEligibleChecking">
      <soap:operation soapAction="http://emiratesequestrian.info/IsRiderEligibleChecking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShowJumpingCriteriaSoap12" type="tns:ShowJumpingCriteriaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsRiderEligible">
      <soap12:operation soapAction="http://emiratesequestrian.info/IsRiderEligible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligible">
      <soap12:operation soapAction="http://emiratesequestrian.info/IsHorseEligible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHorseEligibleChecking">
      <soap12:operation soapAction="http://emiratesequestrian.info/IsHorseEligibleChecking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRiderEligibleChecking">
      <soap12:operation soapAction="http://emiratesequestrian.info/IsRiderEligibleChecking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowJumpingCriteria">
    <wsdl:port name="ShowJumpingCriteriaSoap" binding="tns:ShowJumpingCriteriaSoap">
      <soap:address location="http://wsdev.emiratesequestrian.ae/webservices/ShowJumpingCriteria.asmx" />
    </wsdl:port>
    <wsdl:port name="ShowJumpingCriteriaSoap12" binding="tns:ShowJumpingCriteriaSoap12">
      <soap12:address location="http://wsdev.emiratesequestrian.ae/webservices/ShowJumpingCriteria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>